*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #3c3a4a;
  padding: 40px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Kreon', serif;
  font-size: 72px;
  margin: 0;
  color: white;

  @media screen and (max-width: 667px){
    font-size: 50px;
  }
}

h2 {
  color: #3c3a4a;
}

header {
  max-width: 1000px;
  margin: 0 auto;

  img {
    height: 29px;
  }
}